// ********** VARIABLES **********
$main-color: #9dbbf8;
$secondary-color: #3c3743;

// ********** GLOBALS **********
body {
  overflow-x: hidden;
}

// ********** LAYOUT **********
// preloader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $main-color;
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 2000;
  transition: 0.5s ease-in-out;
  opacity: 1;

  .preloader-img {
    animation: preloaderAnim 2s infinite;
    width: 15rem;
    pointer-events: none;
  }
}

.hide-preloader {
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
}

@keyframes preloaderAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

// nav
.navbar {
  border-bottom: 0.2rem solid $main-color;

  img {
    width: 10rem;
  }

  .nav-link {
    font-size: 1.3rem;
  }
}

// footer
.footer {
  background-color: $secondary-color;

  &-links {
    padding: 0;

    li {
      list-style: none;
      margin: 0.5rem 0;
    }
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ********** HOME PAGE **********
// hero
.hero {
  background-color: $main-color;
  padding: 10rem 2rem;

  @media (max-width: 992px) {
    padding: 10rem 2rem 5rem 2rem;
  }

  &-paragraph {
    font-size: 1.6rem;
  }

  &-phones {
    position: relative;

    .hero-phone-1 {
      width: 50%;
      position: absolute;
      transform: rotate(25deg);
      right: 10%;

      @media (max-width: 768px) {
        width: 35%;
        right: 20%;
      }
    }

    .hero-phone-2 {
      @extend .hero-phone-1;
      top: 10%;
      right: 50%;

      @media (max-width: 768px) {
        right: 40%;
      }
    }
  }
}

// testimonials
.testimonials {
  padding: 10rem 2rem;

  @media (max-width: 768px) {
    padding: 20rem 2rem 10rem 2rem;
  }

  @media (max-width: 400px) {
    padding: 10rem 2rem;
  }

  @media (min-width: 1400px) {
    padding: 20rem 2rem 10rem 2rem;
  }

  .testimonial {
    .testimonial-img {
      width: 5rem;
      border-radius: 50%;
    }
  }
}

// features cards
.features-cards {
  .features-card-img {
    width: 50%;
    margin: 0 auto;
  }
}

// non profit
@media (max-width: 768px) {
  .info {
    order: -1;
  }
}

// ********** GET SIGNAL PAGE **********
.downloads {
  padding-top: 10rem;

  &-img-container {
    padding: 2rem 2rem 0 2rem;
    background-color: $main-color;
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem 1rem #f2f2f2;
  }
}

// ********** SUPPORT PAGE **********
.support-hero {
  padding: 10rem 2rem 5rem 2rem;
  background-color: $main-color;

  &-input {
    max-width: 600px;
  }
}

.support-card {
  transition: 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.submit-request-form {
  max-width: 1000px;
  margin: 0 auto;
}

// ********** BLOG **********
.blogs {
  padding: 10rem 2rem 5rem 2rem;
  max-width: 1000px;
  margin: 0 auto;

  .blog {
    position: relative;

    &-img {
      width: 5rem;
      position: absolute;
      top: -2rem;
      left: -2rem;
      border-radius: 50%;
    }
  }
}
